<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Ignored" type="System.Configuration.IgnoreSection, System.Configuration"/>
    <section name="Protected" type="System.Configuration.ProtectedConfiguration, System.Configuration"/>
    <section name="Config" type="SmoSection.CustomSection, UpExams"/>
    <section name="Soap" type="AuthSection.CustomSection, UpExams"/>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>

    <add key="pBase" value="C:\Examinations\Base"/>
    <add key="pCommon" value="C:\Examinations\Common"/>

    <add key="period" value="202204"/>

    <add key="qCod" value="I3"/>
    <add key="qName" value="ИНГОССТРАХ-М"/>
    <add key="orgId" value="5398"/>
    <add key="pumpUser" value="ingos_vasilev_pump_in"/>
    <add key="pumpLogIn" value="36BJhV"/>
    <add key="orgCode" value="3531"/>

    <!--
    <add key="qCod" value="S7" />
    <add key="orgId" value="5400" />
    <add key="system" value="lp" />
    <add key="pumpUser" value="sogazmed_filin_pump_in" />
    <add key="pumpLogIn" value="LAaAJ4" />
    <add key="orgCode" value="3530" />
    <add key="bpCode" value="101" />
    -->

  </appSettings>

  <Config pBase="Не используется. Для примера." pNsi="Не используется. Для примера.">
    <companies>
      <company qCod="S7" qName="АО СК &quot;СОГАЗ-Мед&quot;" qMail="sogaz.msk.oms">
        <Folders pBase="C:\Examinations\Base" pCommon="C:\Examinations\Common" pStBase="" pNsi="C:\Examinations\Common"/>
      </company>
      <company qCod="I3" qName="ООО СК &quot;ИНГОССТРАХ-М&quot;" qMail="ingos.msk.oms">
        <Folders pBase="C:\Examinations\Base" pCommon="C:\Examinations\Common" pStBase="" pNsi="C:\Examinations\Common"/>
      </company>
    </companies>
  </Config>

  <Soap>
    <companies>
      <company qCod="S7" qName="АО СК &quot;СОГАЗ-Мед&quot;" qMail="sogaz.msk.oms">
        <AuthInfo orgId="5400" system="eLoader" login="sogazmed_filin_pump_in" password="LAaAJ4"/>
      </company>
      <company qCod="I3" qName="ООО СК &quot;ИНГОССТРАХ-М&quot;" qMail="ingos.msk.oms">
        <AuthInfo orgId="5398" system="eLoader" login="ingos_vasilev_pump_in" password="36BJhV"/>
      </company>
    </companies>
  </Soap>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
